# Server Port
PORT=5000

# Database Connection String
# สำหรับรัน Local ในเครื่อง:
DATABASE_URL="postgresql://psu_user:psu_password@localhost:5432/psu_scholarship?schema=public"

# สำหรับรันผ่าน Docker Compose:
# DATABASE_URL="postgresql://psu_user:psu_password@postgres:5432/psu_scholarship?schema=public"

# Secret Key สำหรับ JWT Token
JWT_SECRET="your-jwt-secret-key-here"